.btn {
  cursor: pointer;
  background-color: #7286d3;
  color: #e5e0ff;
  border-radius: 0.5rem;
  border: 0;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #e5e0ff;
  color: #7286d3;
  padding: 25px;
}
