<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Registro</h1>
      <form action="/views/panel" method="POST">
        <label for="email">Email</label>
        <input type="text" name="user" id="user" />
        <label for="email">Password</label>
        <input type="text" name="pass" id="pass" />
        <input type="submit" value="Registrar" />
      </form>
    </div>
  </body>
</html>
