<footer>
  <ul class="list-footer">
    <li><a href="http://localhost:3000/">Inicio</a></li>
    <li><a href="http://localhost:3000/peliculas/0">Pelicula 1</a></li>
    <li><a href="http://localhost:3000/peliculas/1">Pelicula 2</a></li>
    <li><a href="http://localhost:3000/peliculas/2">Pelicula 3</a></li>
  </ul>
</footer>
