* {
    margin: 0;
    padding: 0;
  }

  body,
  html {
    background-color: bisque;
  }

  .card-footer {
    padding: 25px 50px;
    background-color: brown;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div {
      width: 30px;
      height: 30px;
      margin: 15px;
      background-color: chocolate;
    }
  }