<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <form action="/views/saludo" method="post" class="container">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" />
      <label for="apellido">Apellido</label>
      <input type="text" id="apellido" name="apellido" />
      <input type="submit" />
    </form>
  </body>
</html>
