footer{
    position: relative;
    bottom: -300px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}