.cardProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 25px;
    width: 300px;
    height: 500px;
    overflow: hidden;

    img{
      width: 150px;
      margin-bottom: 15px;
    }

    button{
      padding: 5px;
      font-size: large;
      &:hover {
        cursor: pointer;
      }
    }
}

.cardContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;  
}

.titular{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  text-decoration: underline;
}